<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{head,ses,foot(Admin)/layoutadmin.html}">
<head>
<!--Load the AJAX API-->




</head>


<body class="fixed-left">



	<div class="content-page" layout:fragment="content">
		<!-- Start content -->
		<!-- content -->
		<div class="content">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="card-box">

							<div id="chartsfist"
								style="width: 550px; height: 400px; margin: 0 auto"></div>

						</div>


					</div>
					<div class="col-lg-6">
						<div class="card-box">

							<div id="container" style="height: 400px"></div>

						</div>


					</div>
					<!-- end col -->
				</div>
			</div>
		</div>
	</div>



	<!-- ============================================================== -->
	<!-- End Right content here -->
	<!-- ============================================================== -->
</body>

</html>