<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{head,ses,foot(Employee)/layoutemployee.html}">
<head>

</head>


<body class="fixed-left">

	<!-- Begin page -->
	<div id="wrapper">

		<div class="content-page" layout:fragment="content">
			<!-- Start content -->
			<div class="content">
				<div class="container">
					<!-- end row -->
					<div class="row">
						<div class="col-sm-12">
							<div class="panel">
								<div class="panel-body">
									<div class="row">
										<div class="col-sm-6">
											<div class="m-b-30">
												<a id="addTo4Table" th:href="@{/employee/add-kh}"
													class="btn btn-primary waves-effect waves-light">Thêm</a>
											</div>
											<form th:action="@{/employee/KhachHang/page/1}">
												<div class="input-group col-sm-4">
													<span class="input-group-btn"> <input type="submit"
														id="myInput" class="btn  waves-light btn-primary"
														value="Search"> <i class="fa fa-search"></i>

													</span> <input type="text" id="example-input1-group2" name="name"
														class="form-control" placeholder="Search By Name">
												</div>
											</form>
										</div>
									</div>

									<div class="">
										<table class="table table-striped" id="datatable-editable">
											<thead>
												<tr>
													<th>Mã Khách Hàng</th>
													<th>Tên đăng nhập</th>
													<th>Mật khẩu</th>
													<th>Tên KH</th>
													<th>Số điện thoại</th>
													<th>Email KH</th>
													<th>Ngày sinh</th>
													<th>Địa chỉ</th>
													<th>Điểm tích lũy</th>
													<th>Thao Tác</th>

												</tr>
											</thead>

											<tbody th:each="item :${khachhangs} ">
												<tr class="gradeX">
													<td th:text="${item.maKh}" />
													<td th:text="${item.tenDangNhapKh}" />
													<td th:text="${item.matKhauKh}" />
													<td th:text="${item.tenKh}" />
													<td th:text="${item.soDienThoaiKh}" />
													<td th:text="${item.emailKh}" />
													<td th:text="${item.ngaySinhKh}" />
													<td th:text="${item.diaChiKh}" />
													<td th:text="${item.diemTichLuyKh}" />
													<td class="actions"><a
														th:href="@{'/employee/edit-kh/'+${item.maKh}}"
														class="on-default edit-row"> <i class="fa fa-pencil">
														</i></a> <a th:href="@{'/employee/delete-kh/'+${item.maKh}}"
														class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
													</td>
												</tr>
											</tbody>


										</table>
									</div>
								</div>
								<!-- end: panel body -->

							</div>
							<div class="col-md-8">
								<nav aria-label="Pagination">
									<ul class="pagination justify-content-center">
										<li class="page-item" th:each="pageNumber : ${pageNumbers}">
											<a class="page-link"
											th:href="@{|/employee/KhachHang/page/${pageNumber}|}"
											th:text=${pageNumber}></a>
										</li>
									</ul>
								</nav>
							</div>
							<!-- end panel -->
						</div>
						<!-- end col-->
					</div>
					<!-- end row -->

				</div>
				<!-- container -->

			</div>
			<!-- content -->

		</div>

	</div>
</body>
</html>