<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{head,ses,foot(Shop)/layoutshop.html}">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
</head>
<body>
	<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	<!-- HEADER-AREA START -->
	<header class="header-area">

		<!-- Mobile-menu end -->
	</header>
	<!-- HEADER-AREA END -->

	<!-- PAGE-CONTENT START -->
	<section layout:fragment="content">
		<!-- PAGE-BANNER START -->
		<div class="page-banner-area margin-bottom-80">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="page-banner-menu">
							<h2 class="page-banner-title">ĐỔI MẬT KHẨU</h2>
							<ul>
								<li><a th:href="@{/home}">home</a></li>
								<li>Đổi mật khẩu</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- PAGE-BANNER END -->
		<!-- MY-ACCOUNT-AREA START -->
		<div class="my-account-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="panel-group  margin-btm-0" id="accordion">
							<th:block th:text="${message}"></th:block>
							<div class="panel panel-default">
								<div class="panel-heading">

									<h4 class="panel-title">
										<a role="button" data-toggle="collapse"
											data-parent="#accordion" href="#personal-info"
											aria-expanded="true"> <i class="pe-7s-bookmarks"></i> <span>ĐỔI
												MẬT KHẨU </span>
										</a>
									</h4>
								</div>
								<div id="personal-info" class="panel-collapse collapse in"
									role="tabpanel">
									<div class="panel-body">
										<form th:action="@{/changepass}" method="post">
											<div class="col-md-8 ">
												<label>Mật Khẩu Cũ</label> <input type="password"
													class="custom-form" placeholder="Nhập mật khẩu cũ" name="passs1"/>
											</div>
											<div class="col-md-8 ">
												<label>Mật Khẩu Mới</label> <input type="password"
													class="custom-form" placeholder="Nhập mật khẩu mới" name="passs2"/>
											</div>
											<div class="col-md-8 ">
												<label>Nhập Lại Mật Khẩu</label> <input type="password"
													class="custom-form" placeholder="Nhập lại mật khẩu" name="passs3"/>
											</div>
											<div class="row">
												<div class="col-md-12">
													<input type="submit" class="custom-submit-2 save"
														value="Đổi Mật Khẩu	" />
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- MY-ACCOUNT-AREA END -->
		<!-- BRAND-LOGO-AREA START -->

		<!-- BRAND-LOGO-AREA END -->
	</section>
	<!-- PAGE-CONTENT END -->

	<!-- FOOTER-AREA START -->
	<footer class="footer-area"> </footer>
	<!-- FOOTER-AREA END -->


</body>
</html>
