<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{head,ses,foot(Shop)/layoutshop.html}">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>

</head>
<body>

	<section class="page-content" layout:fragment="content">

		<!-- PAGE-CONTENT START -->
		<section class="page-content">
			<!-- PAGE-BANNER START -->
			<div class="page-banner-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="page-banner-menu">
								<h2 class="page-banner-title">STD Fashion Shop</h2>
								<ul>
									<li><a th:href="@{/home}">home</a></li>
									<li>Checkout Success</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- PAGE-BANNER END -->
			<!-- SINGLE-PRODUCT-AREA START -->
			<div class="single-product-aea margin-bottom-80">
				<div class="container">
					
				</div>
			</div>
			<!-- SINGLE-PRODUCT-AREA END -->
			<!-- SINGLE-PRODUCT-REVIEWS-AREA START -->
			<div class="single-product-reviews-area margin-bottom-80">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h3>Bạn đã đặt hàng thành công</h3>
						</div>
					</div>
				</div>
			</div>
			<!-- SINGLE-PRODUCT-REVIEWS-AREA END -->

			<!-- SERVICE-AREA START -->
		
		<!-- SERVICE-AREA END -->
		</section>
		<!-- PAGE-CONTENT END -->

		<!-- FOOTER-AREA START -->
		<footer> </footer>
		<!-- FOOTER-AREA END -->
		</section>
</body>
</html>
